<h3>Nouveau personnage :</h3>

<form [formGroup]="heroForm">

  <div class="form-group">
    <label class="center-block">Nom :
      <input class="form-control" formControlName="name">
    </label>
  </div>

  <div class="form-group">
    <label class="center-block">Age :
      <input class="form-control" formControlName="age">
    </label>
  </div>

  <div class="form-group">
    <label class="center-block">Traits :
      <input class="form-control" formControlName="trait1">
      <input class="form-control" formControlName="trait2">
      <input class="form-control" formControlName="trait3">
      <input class="form-control" formControlName="trait4">
      <div [innerHTML]="newTraits"></div>
    </label>
    <div class="one" *ngFor="let trait of MyTraits; let i = index">
      <input class="form-control" formControlName="{{trait}}{{i}}\">"">
    </div>
  </div>

  <div class="form-group">
      <label class="center-block">Biographie :
        <input class="form-control" formControlName="bio">
      </label>
  </div>

</form>